/* logo color #4D5AE5, #2E2F42*/
/* primary color #434455 */
/* secondary color #2E2F42 */
/* logo footer color #4D5AE5, #F4F4FD */
/* footer color #E7E9FC */
/* footer color #2E2F42 */

:root {
  --first-logo-color: #4d5ae5;
  --prymary-color: #434455;
  --secondary-color: #2e2f42;
  --addr-active-color: #404bbf;
  --main-background: #ffffff;
  --footer-background: #2e2f42;
  --footer-logo-color: #f4f4fd;
  --header-logo-color: #2e2f42;
  --hero-btn-color: #ffffff;
  --hero-border-color: #e5e5e5;
  --footer-text-color: #e7e9fc;
  --portfolio-btn-background: #f4f4fd;
  --portfolio-btn-border-color: #e7e9fc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* body style */
body {
  background: var(--main-background);
  font-family: "Roboto", sans-serif;
  color: var(--prymary-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a,
img {
  display: block;
}
button {
  cursor: pointer;
}
.section {
  padding-top: 120px;
}
.link {
  color: var(--prymary-color);
  font-style: normal;
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header */
/* .header {
  padding-top: 0; */
/* padding-top: 25px;
  padding-bottom: 25px;
} */

.header-navigation {
  display: flex;
  flex-wrap: wrap;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1158px;
  padding: 0 15px;
}
.head-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding-top: 25px;
  padding-bottom: 25px; */
}
.work-section {
  padding-bottom: 120px;
}
.footer-container {
  /* padding: 100px 0; */
  display: flex;
  flex-wrap: wrap;
  /* gap: 120px; */
}

.header-logo-link {
  padding: 25px 0;
  color: var(--header-logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-span {
  color: var(--first-logo-color);
}
.header-item-link {
  /* color: var(--secondary-color); */
  padding: 25px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-active {
  color: var(--addr-active-color);
}
.header-list {
  display: flex;
}
.header-item-link:hover,
.header-item-link:focus {
  color: var(--addr-active-color);
}

.header-item:not(:last-child) {
  margin-right: 40px;
}
.is-active.header-item-link::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  /* transform: translate(0, 48px); */
  background-color: var(--addr-active-color);
  border-radius: 2px;
}
/* .header-item-link:hover::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  top: 0;
  left: 0;
  transform: translate(0, 48px);
  background-color: var(--addr-active-color);
  border-radius: 2px;
} */
.header-addr {
  margin-left: auto;
}
.addr-list {
  display: flex;
}
.addr-item-link {
  color: var(--prymary-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 400;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.addr-item-link:hover,
.addr-item-link:focus {
  color: var(--addr-active-color);
}
.addr-item:not(:last-child) {
  margin-right: 40px;
}

/* hero */
.hero {
  /* padding-top: 0; */
  max-width: 1440px;
  min-height: 600px;
  padding: 188px 0;
  margin: 0 auto;
  border-top: 1px solid var(--hero-border-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      to left,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-logo.jpg);
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.017em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--main-background);
  width: 492px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--addr-active-color);
}
.hero-btn {
  border-color: var(--first-logo-color);
  background-color: var(--first-logo-color);
  color: var(--hero-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 0;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Benefits */

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* padding: 0 15px; */
}
.benefits-list > li {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}
.benefits-title::before {
  margin-bottom: 8px;
  display: block;
  content: "";
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: var(--portfolio-btn-background);
}
.benefits-title-strategy::before {
  background-repeat: no-repeat;
  background-size: 60px 64px;
  background-position: center;
  background-image: url(../images/1/antenna.svg);
}

.benefits-title-punctuality::before {
  background-repeat: no-repeat;
  background-size: 60px 64px;
  background-position: center;
  background-image: url(../images/1/clock.svg);
}

.benefits-title-diligence::before {
  background-repeat: no-repeat;
  background-size: 60px 64px;
  background-position: center;
  background-image: url(../images/1/diagram.svg);
}

.benefits-title-technologies::before {
  background-repeat: no-repeat;
  background-size: 60px 64px;
  background-position: center;
  background-image: url(../images/1/astronaut.svg);
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prymary-color);
}
/* Work */

.work-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* padding: 0 15px; */
  /* overflow: hidden; */
}
.work-item {
  flex-basis: calc((100% - 48px) / 3);
}

/* team */
.team {
  padding-bottom: 120px;
  background-color: var(--footer-logo-color);
}
.team-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-item {
  text-align: center;
  flex-basis: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-officer {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}
.team-content {
  padding: 32px 16px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.team-list-icon {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

.team-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--first-logo-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon:hover,
.team-link-icon:focus {
  cursor: pointer;
  background-color: var(--addr-active-color);
}

.team-svg-icon {
  display: block;
  width: 16px;
  height: 16px;
}

/* Footer */
.footer {
  margin-top: 120px;
  padding: 100px 0;
  background-color: var(--footer-background);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
  margin-top: 16px;
}
.footer-box-media {
  margin-left: 120px;
}
.footer-text-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-list-media {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}
.footer-link-media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link-media:hover,
.footer-link-media:focus {
  /* cursor: pointer; */
  background-color: #31d0aa;
}

.footer-media-icon {
  display: block;
  width: 24px;
  height: 24px;
}
.footer-subscribe {
  display: flex;
  align-items: start;
  margin-left: 80px;
}
.footer-subscribe-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.footer-subcribe-lbl {
  margin: 0;
  padding: 0;
}
.footer-subcribe-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.footer-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-inp {
  margin-top: 16px;
  width: 264px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
}
.footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  width: 165px;
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: var(--first-logo-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-send {
  margin-left: 16px;
}
.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--addr-active-color);
}
/* Customers */
.customers {
  margin-top: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.customer-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
}

.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  border-color: var(--addr-active-color);
}
.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: var(--addr-active-color);
}

.customer-icon {
  /* fill="#8e8f99" style="fill: var(--color2, #8e8f99)" */
  fill: #8e8f99;
  width: 104px;
  height: 56px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */
.portfolio {
  border-top: 1px solid var(--hero-border-color);
}

.portfolio-list-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.portfolio-list-img {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-item-img {
  flex-basis: calc((100% - 48px) / 3);
  background: #ffffff;
}
.portfolio-item-img:hover .portfolio-img-link {
  /* border: 0.5px solid #F4F4FD; */

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-img .portfolio-img-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-div-img {
  position: relative;
  overflow: hidden;
}
.portfolio-img-link:is(:hover, :focus) .portfolio-ovl-text {
  transform: translateY(0);
}

.portfolio-ovl-text {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 40px 32px;
  transform: translateY(100%);
  background-color: var(--first-logo-color);
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--addr-active-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--addr-active-color);
}
.portfolio-btn {
  color: var(--first-logo-color);
  background: var(--portfolio-btn-background);
  border: 1px solid var(--portfolio-btn-border-color);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-title {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-img-content {
  padding: 32px 0 32px 16px;
  border: 1px solid #f4f4fd;
  border-top: 0;
  /* box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08); */
}
/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  height: 584px;
  /* padding: 0 24px; */
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.backdrop-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-close:hover,
.backdrop-close:focus {
  background-color: var(--addr-active-color);
}
.backdrop-close:hover .backdrop-icon,
.backdrop-close:focus .backdrop-icon {
  fill: #ffffff;
}

.backdrop-icon {
  display: block;
  width: 8px;
  height: 8px;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-form {
  padding: 72px 24px 24px 24px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -220px); */
}
.modal-form-group {
  display: flex;
  flex-direction: column;
  /* position: relative;
  top: 0;
  left: 0; */
}
#modal-form-title {
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.modal-form-label {
  margin-bottom: 8px;
}
.modal-form-label-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-group-input {
  position: relative;
}
.modal-form-input {
  width: 360px;
  height: 40px;
  padding-left: 38px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:is(:focus, :not(:placeholder-shown)) + .modal-form-icon {
  fill: var(--first-logo-color);
}
.modal-form-input:focus {
  border-color: var(--first-logo-color);
}
.modal-form-comments {
  display: block;
  width: 360px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-comments:focus {
  border-color: var(--first-logo-color);
}
.modal-form-label-textarea {
  margin-bottom: 16px;
}
.modal-form-comments {
  width: 360px;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-checkbox-label,
.modal-form-checkbox-link {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--first-logo-color);
}
.modal-form-checkbox-label {
  margin-bottom: 24px;
  padding-left: 24px;
  color: #757575;
  position: relative;
}
.modal-form-btn {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  background: var(--first-logo-color);
  border-width: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: var(--addr-active-color);
}
.modal-form-custom-checkbox::after {
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}
.modal-form-checkbox {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-custom-checkbox::after {
  border: none;
  background-color: var(--addr-active-color);
}
.modal-form-checkbox:focus + .modal-form-custom-checkbox::after {
  border: none;
  outline: 1px solid var(--addr-active-color);
}

.modal-form-checkbox-icon {
  position: absolute;
  left: 3px;
  width: 10px;
  height: 8px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked ~ .modal-form-checkbox-icon {
  fill: #f4f4fd;
}
