:root {
  --first-logo-color: #4d5ae5;
  --prymary-color: #434455;
  --secondary-color: #2e2f42;
  --addr-active-color: #404bbf;
  --main-background: #ffffff;
  --footer-background: #2e2f42;
  --footer-logo-color: #f4f4fd;
  --header-logo-color: #2e2f42;
  --hero-btn-color: #ffffff;
  --hero-border-color: #e5e5e5;
  --footer-text-color: #e7e9fc;
  --portfolio-btn-background: #f4f4fd;
  --portfolio-btn-border-color: #e7e9fc;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (max-width: 320px) {
}
